link-workspace-packages = true
registry = https://registry.npmjs.org/
save-exact = true
shared-workspace-shrinkwrap = true
; temporarily commenting out strict-peer-dependencies
; due to issue with pnpm-default-reporter
; strict-peer-dependencies = true
